{% extends "base.html" %}

{% block content %}

<div class="card-body">
    <h4>Adicionar aluno</h4>

    <form action="/add_aluno" method="post" enctype="multipart/form-data">
        <label for="">CPF</label>
        <input type="text" name="cpf" id=""><br>

        <label for="">Nome</label>
        <input type="text" name="nome" id=""><br>

        <label for="">Data de nascimento</label>
        <input type="date" name="data_nascimento" id=""><br>

        <label for="">Foto</label>
        <input type="file" name="foto" id=""><br>

        <label for="">Plano</label>
        <select name="fk_plano_codigo" id="" required>
            <option value="" selected>----</option>
            {% for p in plano %}
            <option value="{{ p[0] }}">{{ p[1] }} - {{ p[2] }}</option>
            {% endfor %}
        </select><br>

        <label for="">Turma</label>
        <select name="fk_turma" id="" required>
            <option value="" selected>----</option>
            {% for p in turma %}
            <option value="{{ p[0] }}">{{ p[1] }}</option>
            {% endfor %}
        </select><br>

        <button type="submit">Cadastrar</button>
    </form>

</div>

{% endblock %}
