{% extends "base.html" %}

{% block content %}

<div class="card-body">
    <h4>Editar aluno</h4>

    <img src="get_image?cpf={{ aluno[0] }}" alt="profile photo">

    <form action="/edit_aluno" method="post" enctype="multipart/form-data" class="form">
        
        <input hidden type="text" name="cpf" id="" value="{{ aluno[0] }}">

        <div class="form-group">
            <label for="">Nome</label>
            <input class="form-control" type="text" name="nome" id="" value="{{ aluno[1] }}">
        </div>

        <div class="form-group">
            <label for="">Data de nascimento</label>
            <input class="form-control" type="date" name="data_nascimento" id="" value="{{ aluno[2] }}">
        </div>

        <div class="form-group">
            <label for="">Alterar foto de perfil</label>
            <input class="form-control" type="file" name="foto" id="">
        </div>

        <div class="form-group">
            <label for="">Plano</label>
            <select class="form-control" name="fk_plano_codigo" id="">
                <option value="">----</option>
                {% for p in plano %}
                {% if p[0] == aluno[4] %}
                <option value="{{ p[0] }}" selected>{{ p[1] }} - {{ p[2] }}</option>
                {% else %}
                <option value="{{ p[0] }}">{{ p[1] }} - {{ p[2] }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="">Turma</label>
            <select class="form-control" name="fk_turma" id="">
                <option value="" selected>----</option>
                {% for p in turma %}
                {% if p[0] == aluno_turma[0] %}
                <option value="{{ p[0] }}" selected>{{ p[0] }} - {{ p[1] }} {{ p[2] }}</option>
                {% else %}
                <option value="{{ p[0] }}">{{ p[0] }} - {{ p[1] }} {{ p[2] }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>

        <hr>
        <button class="btn btn-success" type="submit">Editar</button>
    </form>

</div>

{% endblock %}
