{% extends "base.html" %}

{% block content %}

<div class="card-body">

    <a href="add_aluno"><button>Cadastrar aluno</button></a>
    <a href="add_turma"><button>Cadastrar turma</button></a>
    
    <hr>
    
    <h4>Alunos</h4>

    <table>
        <tr>
            <th>Aluno</th>
            <th>Turma</th>
            <th>Modalidade</th>
            <th>Unidade</th>
            <th>Ação</th>
        </tr>
        {% for a in alunos %}
        <tr>
            <td>{{ a[0] }}</td>
            <td><a href="edit_turma?turma={{ a[1] }}">{{ a[1] }}</a></td>
            <td>{{ a[2] }}</td>
            <td>{{ a[3] }}</td>
            <td>
                <form action="delete_aluno">
                    <input hidden type="text" name="aluno" value="{{ a[4] }}">
                    <button type="submit">Del</button>
                </form>
                <a href="/edit_aluno?aluno={{ a[4] }}">
                    <button>Edit</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>

</div>

{% endblock %}
