{% extends "base.html" %}

{% block content %}

<div class="card-body">

    <a href="add_aluno"><button class="btn btn-dark">Cadastrar aluno</button></a>
    <a href="add_turma"><button class="btn btn-dark">Cadastrar turma</button></a>
    <a href="modalidade"><button class="btn btn-dark">Cadastrar modalidade</button></a>

    <hr>
    
    <h4>Alunos</h4>

    <table class="table">
        <tr>
            <th>Aluno</th>
            <th>Turma</th>
            <th>Modalidade</th>
            <th>Unidade</th>
            <th>Ação</th>
        </tr>
        {% for a in alunos %}
        <tr>
            <td>{{ a[0] }}</td>
            {% if a[1] %}
            <td><a href="edit_turma?turma={{ a[1] }}">{{ a[1] }}</a></td>
            {% else %}
            <td></td>
            {% endif %}
            {% if a[2] %}
            <td><a href="edit_modalidade?mod={{ a[2] }}">{{ a[2] }}</a></td>
            {% else %}
            <td></td>
            {% endif %}
            <td>{{ a[3] if a[3] else '' }}</td>
            <td>
                <div class="col1">
                    <form action="delete_aluno" method="post">
                        <input hidden type="text" name="aluno" value="{{ a[4] }}">
                        <button class="btn btn-secondary" type="submit">Del</button>
                    </form>
                </div>
                <div class="col2">
                    <a href="/edit_aluno?aluno={{ a[4] }}">
                        <button class="btn btn-secondary">Edit</button>
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>

</div>

{% endblock %}
