{% extends "base.html" %}

{% block content %}

<div class="card-body">
    <h4>Unidades</h4>
    {% for value in unidades %}
    <ul>
        <li>{{ value.nome }} | {{ value.endereco }}</li>
    </ul>
    {% endfor %}

    <h4>Modalidades</h4>
    {% for value in modalidades %}
    <ul>
        <li>{{ value.nome }} | {{ value.faixa_etaria }}</li>
    </ul>
    {% endfor %}

    <h4>Planos</h4>
    {% for value in planos %}
    <ul>
        <li>{{ value.nome }} | {{ value.valor }}</li>
    </ul>
    {% endfor %}
</div>

{% endblock %}
