<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GymApp</title>
</head>
<body>
    <!-- navbar menu de acessos -->
    <table>
        <tr>
            <td><a href="/">Home</a></td>
            <td><a href="/perfil">Perfil</a></td><!-- apenas disponivel quando logado -->
            <td><a href="/login">Login</a></td><!-- apenas disponivel quando não-logado -->
            <td><a href="/cadastro">Cadastro</a></td><!-- apenas disponivel quando não-logado -->
            <td><a href="/cliente">Espaço do cliente</a></td><!-- apenas disponivel quando logado -->
            <td><a href="/montagem_treino">Montagem de Treino</a></td><!-- apenas disponivel quando o usuario logado for um instrutor -->
        </tr>
    </table>
    <h1>GymApp</h1>

    <p>Pagina inicial de apresentação do que tem disponivel na academia e os planos</p>

    <!-- os dados será listados com o que vem do banco de dados -->

    <h2>Modalidades</h2>
    <h2>Equipamentos</h2>
    <h2>Planos</h2>

</body>
</html>
